.monday{
color: blue;
}
.wordsbox{
  width: 70%;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  float: left;
  display: inline-block;
}
.week1{
  color: lightblue;
  margin-bottom: 20px;
  font-size: 25px;
  margin-top: 15px;
}
.langtext{
font-weight: bold;
  margin-top: 15px;
}
.sidebar{
  display: inline-block;
  width: 20%;
  float: left;
  height: 550px;;
  border-left: 1px solid black;
}
.categories{
  color: lightblue;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 25px;
}
.asidelistbox{
  margin-top: 15px;
  margin-left: 30px;
}
.asidelisttext{
  margin-top: 15px;
  color: blue;
  font-family: $font-montserrat;
}
