.headerbox{
  width: 100%;
  height: 110px;
background-color: blue;
}
.doclearningbox{
  padding-top: 25px;
  padding-left: 30px;
}
.doclearning{
  color: yellow;
  font-size: 35px;
  text-decoration: none;
}
.toplinks{
  display: inline-block;
  color: white;
  float: right;
  margin-right: 55px;
  padding-bottom: 25px;
}
.linktext{
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  letter-spacing: .2px;
}
.hatag{
  text-decoration: none;
  color: white;
}
